* {
  padding: 0px;
  box-sizing: border-box;
}

.cardsBody {
  margin: 5vh;
}

.body-text {
  display: flex;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

nav {
  display: flex;
  align-items: center;
  min-height: 8vh;
  background-color: teal;
  font-family: "Montserrat", sans-serif;
}

.heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.profile_element {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: auto;
  margin-right: 4em;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 14px 16px;
}

.nav-links a:hover:not(.active) {
  background-color: lightseagreen;
}

.nav-links li a.active {
  background-color: #4caf50;
}
* {
  padding: 0px;
  box-sizing: border-box;
}

.container {
  margin-top: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-item {
  margin-right: 10px;
}

.filter-item label {
  font-weight: bold;
}

.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.game {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.game p {
  margin-bottom: 8px;
}

.game-details-button {
  background-color: teal;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.game button:hover {
  background-color: #008b8b;
}

/* Additional styles for GameDetailsPage */
.container {
  margin-top: 20px;
}

.game-details {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.game-details p {
  margin-bottom: 8px;
}

.game-details button {
  background-color: teal;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.game-details button:hover {
  background-color: darkcyan;
}
